/api/node_modules
/client/node_modules
/.pnp
.pnp.js
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
package-lock.json
/node_modules
.env
/node_modules/.cache
/node_modules/.bin
/node_modules/.cache/.eslintcache
/node_modules/.cache/babel-loader
/node_modules/.cache/default-development


